.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(../../assets/images/hero-background.JPG); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  background-attachment: fixed;
  background-size: cover; */
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}
.is-multiline {
  padding-top: 5vw;
  display: contain;
}
/* @media (hover: none) {
  .project {
      background-attachment: initial;
  }
} */
.columns:last-child {
  margin-bottom: .75rem;
}
@media screen and (min-width: 769px) {
  .column.is-4,
  .column.is-4-tablet {
    flex: none;
    width: 33.33333%;
    display:contents;
  }
}
