.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thisIsTheWay {
  margin: 2vh;
}

.document {
  flex-direction: row;
  margin-top: 2vh;
  border: 2px solid black;
  /* width: 100%; */
  
}

@media screen and (max-width: 650px) {
  .document {

    display: none;
    
  }
}