.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.5);  
  font-family: "Poppins", sans-serif;
}
.thisIsTheWay {
  margin: 2vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.document {
  flex-direction: row;
  margin-top: 2vh;
  border: 2px solid black;
}

@media screen and (max-width: 650px) {
  .document {
    display: none;
  }
  
  .hero-text{
    margin-top: 40vw;
    margin-bottom: 25vw;
  }
}
.white {
  background-color: whitesmoke;
}
